.body {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

/* height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black; */

.body a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.body a:hover,
.body a:active,
.body a.active {
  color: black;
  text-decoration: underline;
}
